
{# On utilise une variable temporaire, qu'on definit a false si elle n'est pas deja definit #}

{% set accueil = accueil|default(false) %}
<h2>
    {# On vrifie qu'une image est bien associe a l' article #}
    {% if article.image is not null %}
        <img src="{{ asset(article.image.webPath )}}"
             alt="{{ article.image.alt }}"
        />
    {% endif %}
    
    {# Si on est sur la page d'accueil, on fait un lien vers l'article, sinon non #}
    
    {% if accueil %}
        <a href="{{ path('blog_voir', {'id': article.id }) }}">{{ article.titre }}</a>
    {% else %}
        {{ article.titre }}
    {% endif %}
</h2>

 <i>Le {{ article.date|date('d/m/Y') }}, par {{ article.auteur }}
 </i>
 <div class="well">
    {{ article.contenu }}
 </div>
 
 {# On affiche les categories éventuelles #}
 
 {% if article.categories.count > 0 %}
     <div class="well well-small">
        <p>
            <i>
                Categorie:
                {% for categorie in article.categories %}
                    {{ categorie.nom }} {% if not loop.last %}, {% endif %}
                    {% endfor%}
            </i>
        </p>
    
 </div>
{% endif %}